* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "extrabold";
    src: url(./fonts/ArticulatCF-ExtraBold.woff2);
}

/* 800 */
@font-face {
    font-family: "bold";
    src: url(./fonts/ArticulatCF-Bold.woff2);
}

/* 700 */
@font-face {
    font-family: "demibold";
    src: url(./fonts/ArticulatCF-DemiBold.woff2);
}

/* 600 */
@font-face {
    font-family: "medium";
    src: url(./fonts/ArticulatCF-Medium.woff2);
}

/* 500 */

@font-face {
    font-family: "regular";
    src: url(./fonts/ArticulatCF-Regular.woff2);
}

/* 400 */


body {
    width: 100%;
    background-color: #f9f9f9;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f9f9f9;
}

.navbar {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #f9f9f9;

}

nav a {
    text-decoration: none;
}

.logo a {
    font-family: "extrabold";
    font-size: 30px;
    font-weight: 800;
    color: #111;
    transition: all .5s ease 0s;
}

.logo a:hover {
    color: #007aff;
}

.pageLinks a {
    font-family: "extrabold";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: initial;
    color: #111;
    padding: 0 10px 0 10px;
    position: relative;
    top: 5px;
    right: 80px;
}

.pageLinks a:hover {
    color: #007aff;
}

.menu {
    position: relative;
    top: 10px;
    z-index: 0;
}

.content {
    margin: auto;
    width: 85%;
}

.title1 {
    width: 100%;
    margin: auto;
    padding-top: 180px;
    padding-bottom: 20px;
}

.title1 h1 a {
    font-family: "bold";
    text-decoration: none;
    color: #111;
    font-size: 72px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: -.025em;
    transition: all .5s ease 0s;
}

.container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 31%);
    overflow-x: scroll;
    gap: 50px;
}

.container1::-webkit-scrollbar, .container2::-webkit-scrollbar, .container3::-webkit-scrollbar , .container4::-webkit-scrollbar, .container5::-webkit-scrollbar, .container6::-webkit-scrollbar, .container7::-webkit-scrollbar, .container8::-webkit-scrollbar{
    display: none;
}

.products img {
    width: 100%;
    border-radius: 20px;
}

strong {
    font-family: "bold";
    color: #d61;
    font-weight: 700;
    padding-right: 10px;
}

.name {
    color: #111;
    font-family: "bold";
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    padding-top: 30px;
}

.type {
    font-family: "medium";
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #111;
    padding: 10px 0 10px 0;
}

ul {
    margin-left: 15px;
}

ul li {
    font-family: "medium";
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #111;
}

li::marker {
    font-size: 8px;
}

.prv_btn1, .nxt_btn1,.prv_btn2, .nxt_btn2,.prv_btn3, .nxt_btn3,.prv_btn4, .nxt_btn4,.prv_btn5, .nxt_btn5,.prv_btn6, .nxt_btn6,.prv_btn7, .nxt_btn7,.prv_btn8, .nxt_btn8 {
    position: absolute;
    text-decoration: none;
    background-color: #f9f9f9;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #111;
    top: 170px;
    font-size: 20px;
    box-shadow: 0px 1px 1px 0px #a0a0a0;
}

.icon {
    position: relative;
    margin: auto;
    width: 100%;
    z-index: 0;
}

.fa-angle-left:before {
    content: "\f104" !important;
    font-size: 10px;
}

.fa-angle-right:before {
    content: "\f105" !important;
    font-size: 10px;
}


.seeall {
    font-family: "demibold";
    font-size: 18px;
    line-height: 80px;
    font-weight: 600;
    color: #1192ec;
    text-decoration: none;
}

.prv_btn1,.prv_btn2,.prv_btn3,.prv_btn4,.prv_btn5,.prv_btn6,.prv_btn7,.prv_btn8 {
    left: -15px;
}

.nxt_btn1,.nxt_btn2,.nxt_btn3,.nxt_btn4,.nxt_btn5,.nxt_btn6,.nxt_btn7,.nxt_btn8{
    right: -15px;
}

.brand {
    padding-top: 70px;
}

.upcomming {
    font-size: 18px;
    font-family: "bold";
    font-weight: 700;
    color: #111;
}

.date_release {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.date, .release {
    font-family: "bold";
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: #111;
    padding-bottom: 10px;
    padding-top: 10px;
}

.itm {
    font-family: "medium";
    font-size: 18px;
    line-height: 34px;
    font-weight: 500;
    color: #111;
}

.signup input {
    width: 380px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 100px;
    font-size: 16px;
    text-align: left;
    background: #f9f9f9;
    color: #111;
    font-family: "medium";
    margin-right: 20px;
}

.signup p {
    font-size: 18px;
    font-family: "bold";
    font-weight: 700;
    color: #111;
    padding-top: 50px;
    padding-bottom: 20px;
}

.signup button {
    width: 145px;
    height: 60px;
    border-radius: 13px;
    border-color: #1192ec;
    background-color: #007aff;
    color: #fff;
    line-height: 25px;
    text-align: center;
    font-family: "demibold";
    font-weight: 600;
    font-size: 16px;
}

.updates {
    display: none;
}

.up_title {
    font-family: "bold";
    font-size: 700;
    font-size: 16px;
    padding-top: 20px;
}

.up_date {
    font-size: 16px;
    line-height: 24px;
    font-family: "medium";
    font-weight: 500;
    padding-top: 5px;
}

footer {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 70px;
    background-color: #111;
    display: flex;
}

.logos {
    padding-left: 100px;
    padding-right: 25px;
    display: flex;
}

.logos img {
    padding-right: 20px;
}

.logos a {
    font-family: "regular";
    font-size: 12px;
    letter-spacing: .01em;
    color: #aaa;
    line-height: 24px;
    padding-right: 35px;
    text-decoration: none;
}

.policy a {
    font-family: "regular";
    font-size: 12px;
    letter-spacing: .01em;
    color: #aaa;
    line-height: 24px;
    padding-right: 35px;
    text-decoration: none;
}

@media screen and (max-width:1000px) {
    .pageLinks {
        display: none;
    }

    .brand {
        padding-top: 10px;
    }

    .title1 {
        padding-bottom: 0px;
    }
}

@media screen and (max-width:1201px) {
    .container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
        grid-template-columns: repeat(6, 47%);

    }
}

@media screen and (max-width:600px) {
    .container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8 {
        grid-template-columns: repeat(6, 100%);
    }
}

@media screen and (max-width:1000px) {
    .title1 h1 a {
        font-size: 48px;
    }
}

@media screen and (max-width:766px) {
    .title1 h1 a {
        font-size: 36px;
    }

    .navbar {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .menu {
        top: 0;
    }

    .title1 {
        padding-top: 60px;
    }

    .signup input {
        width: 79%;
    }

    .signup button {
        width: 15%;
    }
}

@media screen and (max-width:760px) {
    .logo a {
        font-size: 21px;
    }

    .updates {
        display: block;
    }

    .date_release {
        display: none;
    }
}

@media screen and (max-width:646px) {
    .signup button {
        width: 100%;
        margin-bottom: 100px;
    }

    .signup input {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:883px) {
    footer {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }

    .policy {
        padding-left: 40px;
    }

    .logos {
        padding-left: 40px;
        position: relative;
        bottom: 60px;
        display: block;
    }

    .logos img {
        padding-bottom: 10px;
    }
}
@media screen and (max-width:800px) {
    .prv_btn1, .nxt_btn1,.prv_btn2, .nxt_btn2,.prv_btn3, .nxt_btn3,.prv_btn4, .nxt_btn4,.prv_btn5, .nxt_btn5,.prv_btn6, .nxt_btn6,.prv_btn7, .nxt_btn7,.prv_btn8, .nxt_btn8 {
        top: 130px;
    }
}
@media screen and (max-width:600px) {
    .prv_btn1, .nxt_btn1,.prv_btn2, .nxt_btn2,.prv_btn3, .nxt_btn3,.prv_btn4, .nxt_btn4,.prv_btn5, .nxt_btn5,.prv_btn6, .nxt_btn6,.prv_btn7, .nxt_btn7,.prv_btn8, .nxt_btn8 {
        top: 240px;
    }
}
@media screen and (max-width:500px) {
    .prv_btn1, .nxt_btn1,.prv_btn2, .nxt_btn2,.prv_btn3, .nxt_btn3,.prv_btn4, .nxt_btn4,.prv_btn5, .nxt_btn5,.prv_btn6, .nxt_btn6,.prv_btn7, .nxt_btn7,.prv_btn8, .nxt_btn8 {
        top: 180px;
    }
}
@media screen and (max-width:400px) {
    .prv_btn1, .nxt_btn1,.prv_btn2, .nxt_btn2,.prv_btn3, .nxt_btn3,.prv_btn4, .nxt_btn4,.prv_btn5, .nxt_btn5,.prv_btn6, .nxt_btn6,.prv_btn7, .nxt_btn7,.prv_btn8, .nxt_btn8 {
        top: 120px;
    }
}