* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "extrabold";
    src: url(./fonts/ArticulatCF-ExtraBold.woff2);
}
/* 800 */
@font-face {
    font-family: "bold";
    src: url(./fonts/ArticulatCF-Bold.woff2);
}
/* 700 */
@font-face {
    font-family: "demibold";
    src: url(./fonts/ArticulatCF-DemiBold.woff2);
}
/* 600 */
@font-face {
    font-family: "medium";
    src: url(./fonts/ArticulatCF-Medium.woff2);
}
/* 500 */

@font-face {
    font-family:"regular";
    src: url(./fonts/ArticulatCF-Regular.woff2);
}

/* 400 */


body {
    margin: auto;
    width: 85%;
    background-color: #f9f9f9;
}

nav {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 30px;
    position: fixed;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
}


nav a {
    text-decoration: none;
}

.logo a {
    font-family: "extrabold";
    font-size: 30px;
    font-weight: 800;
    color: #111;
    transition: all .5s ease 0s;
}

.logo a:hover {
    color: #007aff;
}

.pageLinks a {
    font-family: "extrabold";
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: initial;
    color: #111;
    padding: 0 10px 0 10px;
    position: relative;
    top: 5px;
    right: 80px;
}

.pageLinks a:hover {
    color: #007aff;
}

.menu {
    position: relative;
    top: 10px;
    z-index: 0;
}
.title1{
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
.title1 h1 a{
    font-family: "bold";
    text-decoration: none;
    color: #111;
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: -.025em;
   
    transition: all .5s ease 0s;
}
.container{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,400px);
    overflow-x: scroll;
    gap: 50px;
}
.container::-webkit-scrollbar {
    display: none;
}

.products img{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
strong{
    font-family: "bold";
    color: #d61;
    font-weight: 700;
    padding-right: 10px;
}
.name {
    color: #111;
    font-family: "bold";
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    padding-top: 30px;
}
.type{
    font-family: "medium";
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #111;
    padding: 10px 0 10px 0;
}
ul{
    margin-left: 15px;
}
ul li{
    font-family: "medium";
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #111;
}
li::marker{
    font-size: 8px;
}
.prv_btn, .nxt_btn{
    position: absolute;
    text-decoration: none;
    background-color: #f9f9f9;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #111;
    top: 120px;
    font-size: 20px;
    box-shadow: 0px 1px 1px 0px #111;
}
.show{
    position: relative;
    margin: auto;
    width: 100%;
}
.seeall{
    font-family:"demibold";
    font-size: 18px;
    line-height: 80px;
    font-weight: 600;
    color: #1192ec;
    text-decoration: none;
}
.prv_btn{
    left:-15px;
}
.nxt_btn{
    right: -15px;
}
.brand{
 padding-top: 100px;
}
.upcomming{
    font-size: 18px;
    font-family: "bold";
    font-weight: 700;
    color: #111;
    padding-top: 25px;
}
.date_release{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}
.date,.release{
    font-family: "bold";
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: #111;
    padding-bottom: 15px;
}
.itm{
    font-family: "medium";
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #111;
}
.signup input{
    width: 35%;
    height: 30px;
    border: none;
    box-shadow: 0px 1px 1px 0px #111;

}
@media screen and (max-width:1000px) {
    .pageLinks{
        display: none;
    }
    
}